@font-face {
  font-family: "Colon Mono";
  src:url("./assets/fonts/colon-mono-wo1-light.woff2") format("woff2"),
      url("./assets/fonts/colon-mono-wo1-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #739072;
  border-radius: 20px; /* Set the border-radius to make it round */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #739072;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

